<%= javascript_pack_tag 'log_in' %>
<%= stylesheet_pack_tag 'log_in' %>

<div class="page page--centered">
  <%=
    button_to 'Log in with Github',
      user_github_omniauth_authorize_path,
      class: 'btn-log-in btn-log-in--github'
  %>
  <%=
    button_to 'Log in with Google',
      user_google_oauth2_omniauth_authorize_path,
      class: 'btn-log-in btn-log-in--google'
  %>
</div>
