@import 'styles/mixins/remove_button_styles';

@mixin button-colors(
  $color,
  $background-color,
  $active-color: $color,
  $active-background-color: $background-color,
) {
  background-color: $background-color;
  color: $color;
  line-height: 1;

  &:active, &:hover, &:focus {
    background-color: $active-background-color;
    color: $active-color;
  }

  &:disabled {
    &:active, &:hover, &:focus {
      background-color: $background-color;
      color: $color;
    }
  }
}

.Button {
  @include remove-button-styles();

  // COLORS
  &--dark {
    @include button-colors(
      var(--colors-gray-100),
      var(--colors-gray-700),
      var(--colors-gray-100),
      var(--colors-gray-800),
    );
  }

  &--primary {
    @include button-colors(
      var(--colors-font-900),
      var(--colors-background-800),
      var(--colors-font-900),
      var(--colors-background-900),
    );
  }

  &--text {
    @include button-colors(
      var(--colors-font-100),
      var(--colors-background-100),
      var(--colors-font-300),
    );
  }

  // SIZES
  &--small, &--small-no-padding {
    font-size: var(--font-size-small);
  }

  &--small {
    padding: .5rem;
  }

  &--medium, &--medium-no-padding {
    font-size: var(--font-size-medium);
  }

  &--medium {
    padding: .5rem;
  }

  &--large, &--large-no-padding {
    font-size: var(--font-size-large);
  }

  &--large {
    padding: .75rem;
  }

  &--x-large, &--x-large-no-padding {
    font-size: var(--font-size-x-large);
  }

  &--x-large {
    padding: 1rem;
  }
}
