.RecipeEditor {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    border: none;
    flex-grow: 1;
    font-family: monospace;
    font-size: var(--font-size-medium);
    margin: 2rem 0;
    resize: none;

    &:active, &:focus, &:focus-within {
      border: none;
      outline: none;
    }
  }
}
